<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head(title = 'Bestsellers')">
</head>
<body>
    <nav th:replace="partials/navbar :: navbar"></nav>
    <br />
    <div class="container">
        <div class="print-ebook-fiction">
            <h2>Combined Print & E-Book Fiction</h2>
            <br />
            <div class="loading-icon mx-auto"></div>
            <div class="print-ebook-fiction-list row row-cols-1">
                <!--Best Sellers load here-->
            </div>
        </div>
        <div class="hardcover-fiction">
            <h2>Hardcover Fiction</h2>
            <br />
            <div class="loading-icon mx-auto"></div>
            <div class="hardcover-fiction-list row row-cols-1">
                <!--Best Sellers load here-->
            </div>
        </div>
        <div class="trade-fiction-paperback">
            <h2>Paperback Trade Fiction</h2>
            <br />
            <div class="loading-icon mx-auto"></div>
            <div class="trade-fiction-paperback-list row row-cols-1">
                <!--Best Sellers load here-->
            </div>
        </div>
        <div class="print-ebook-nonfiction">
            <h2>Combined Print & E-Book Nonfiction</h2>
            <br />
            <div class="loading-icon mx-auto"></div>
            <div class="print-ebook-nonfiction-list row row-cols-1">
                <!--Best Sellers load here-->
            </div>
        </div>
        <div class="hardcover-nonfiction">
            <h2>Hardcover Nonfiction</h2>
            <br />
            <div class="loading-icon mx-auto"></div>
            <div class="hardcover-nonfiction-list row row-cols-1">
                <!--Best Sellers load here-->
            </div>
        </div>
        <div class="paperback-nonfiction">
            <h2>Paperback Trade Nonfiction</h2>
            <br />
            <div class="loading-icon mx-auto"></div>
            <div class="paperback-nonfiction-list row row-cols-1">
                <!--Best Sellers load here-->
            </div>
        </div>
        <div class="advice-how-to">
            <h2>Advice, How-To & Miscellaneous</h2>
            <br />
            <div class="loading-icon mx-auto"></div>
            <div class="advice-how-to-list row row-cols-1">
                <!--Best Sellers load here-->
            </div>
        </div>
        <div class="middle-grade">
            <h2>Children's Middle Grade Hardcover</h2>
            <br />
            <div class="loading-icon mx-auto"></div>
            <div class="middle-grade-list row row-cols-1">
                <!--Best Sellers load here-->
            </div>
        </div>
        <div class="picture-books">
            <h2>Picture Books</h2>
            <br />
            <div class="loading-icon mx-auto"></div>
            <div class="picture-books-list row row-cols-1">
                <!--Best Sellers load here-->
            </div>
        </div>
        <div class="series-books">
            <h2>Series Books</h2>
            <br />
            <div class="loading-icon mx-auto"></div>
            <div class="series-books-list row row-cols-1">
                <!--Best Sellers load here-->
            </div>
        </div>
        <div class="ya-hardcover">
            <h2>Young Adult Hardcover</h2>
            <br />
            <div class="loading-icon mx-auto"></div>
            <div class="ya-hardcover-list row row-cols-1">
                <!--Best Sellers load here-->
            </div>
        </div>
        <div class="audio-fiction">
            <h2>Audio Fiction</h2>
            <br />
            <div class="loading-icon mx-auto"></div>
            <div class="audio-fiction-list row row-cols-1">
                <!--Best Sellers load here-->
            </div>
        </div>
        <div class="audio-nonfiction">
            <h2>Audio Nonfiction</h2>
            <br />
            <div class="loading-icon mx-auto"></div>
            <div class="audio-nonfiction-list row row-cols-1">
                <!--Best Sellers load here-->
            </div>
        </div>
        <div class="business">
            <h2>Business Books</h2>
            <br />
            <div class="loading-icon mx-auto"></div>
            <div class="business-list row row-cols-1">
                <!--Best Sellers load here-->
            </div>
        </div>
    </div>
    <br />
    <footer th:replace="partials/footer :: footer"></footer>
    <script type="text/javascript" th:src="@{/js/keys.js}"></script>
    <script type="text/javascript" th:src="@{/js/nyt.js}"></script>
</body>
</html>