<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="partials/head :: head(title = 'Bestsellers')">
    </head>
    <body>
        <nav th:replace="partials/navbar :: navbar"></nav>
        <header>
            <div class="header-block-left">
                <div class="header-text">
                    <p class="nyt-text">New York Times</p>
                    <p class="best-sellers-text">Best Sellers</p>
                    <ul class="best-sellers-menu">
                        <li class="best-sellers-li"><a class="best-sellers-links" href="#fiction">Fiction</a></li>
                        <li class="best-sellers-li"><a class="best-sellers-links" href="#nonfiction">Nonfiction</a></li>
                        <li class="best-sellers-li"><a class="best-sellers-links" href="#children">Children</a></li>
                        <li class="best-sellers-li"><a class="best-sellers-links" href="#young-adult">YA</a></li>
                    </ul>
                </div>
            </div>
            <div class="header-block-right">
                <img class="header-img" th:src="@{/img/best-seller-header.svg}">
            </div>
        </header>
        <div class="site-margin">
            <br />
            <main>
                <section>
                    <div data-aos="fade-up" class="book print-ebook-fiction">
                        <h2>Combined Print & E-Book Fiction</h2>
                        <br />
                        <div class="loading-icon mx-auto"></div>
                        <div class="print-ebook-fiction-list book-row">
                            <!--Best Sellers load here-->
                        </div>
                    </div>
                </section>
                <br />
                <section>
                    <div data-aos="fade-up" id="fiction" class="book hardcover-fiction">
                        <h2>Hardcover Fiction</h2>
                        <br />
                        <div class="loading-icon mx-auto"></div>
                        <div class="hardcover-fiction-list book-row">
                            <!--Best Sellers load here-->
                        </div>
                    </div>
                </section>
                <br />
                <section>
                    <div data-aos="fade-up" class="book trade-fiction-paperback">
                        <h2>Paperback Trade Fiction</h2>
                        <br />
                        <div class="loading-icon mx-auto"></div>
                        <div class="trade-fiction-paperback-list book-row">
                            <!--Best Sellers load here-->
                        </div>
                    </div>
                </section>
                <br />
                <section>
                    <div data-aos="fade-up" id="nonfiction" class="book print-ebook-nonfiction">
                        <h2>Combined Print & E-Book Nonfiction</h2>
                        <br />
                        <div class="loading-icon mx-auto"></div>
                        <div class="print-ebook-nonfiction-list book-row">
                            <!--Best Sellers load here-->
                        </div>
                    </div>
                </section>
                <br />
                <section>
                    <div data-aos="fade-up" class="book hardcover-nonfiction">
                        <h2>Hardcover Nonfiction</h2>
                        <br />
                        <div class="loading-icon mx-auto"></div>
                        <div class="hardcover-nonfiction-list book-row">
                            <!--Best Sellers load here-->
                        </div>
                    </div>
                </section>
                <br />
                <section>
                    <div data-aos="fade-up" class="book paperback-nonfiction">
                        <h2>Paperback Trade Nonfiction</h2>
                        <br />
                        <div class="loading-icon mx-auto"></div>
                        <div class="paperback-nonfiction-list book-row">
                            <!--Best Sellers load here-->
                        </div>
                    </div>
                </section>
                <br />
                <section>
                    <div data-aos="fade-up" class="book advice-how-to">
                        <h2>Advice, How-To & Miscellaneous</h2>
                        <br />
                        <div class="loading-icon mx-auto"></div>
                        <div class="advice-how-to-list book-row">
                            <!--Best Sellers load here-->
                        </div>
                    </div>
                </section>
                <br />
                <section>
                    <div data-aos="fade-up" id="children" class="book middle-grade">
                        <h2>Children's Middle Grade Hardcover</h2>
                        <br />
                        <div class="loading-icon mx-auto"></div>
                        <div class="middle-grade-list book-row">
                            <!--Best Sellers load here-->
                        </div>
                    </div>
                </section>
                <br />
                <section>
                    <div data-aos="fade-up" class="book picture-books">
                        <h2>Picture Books</h2>
                        <br />
                        <div class="loading-icon mx-auto"></div>
                        <div class="picture-books-list book-row">
                            <!--Best Sellers load here-->
                        </div>
                    </div>
                </section>
                <br />
                <section>
                    <div data-aos="fade-up" class="book series-books">
                        <h2>Series Books</h2>
                        <br />
                        <div class="loading-icon mx-auto"></div>
                        <div class="series-books-list book-row">
                            <!--Best Sellers load here-->
                        </div>
                    </div>
                </section>
                <br />
                <section>
                    <div data-aos="fade-up" id="young-adult" class="book ya-hardcover">
                        <h2>Young Adult Hardcover</h2>
                        <br />
                        <div class="loading-icon mx-auto"></div>
                        <div class="ya-hardcover-list book-row">
                            <!--Best Sellers load here-->
                        </div>
                    </div>
                </section>
                <br />
            </main>
        </div>
        <br />
        <footer th:replace="partials/footer :: footer"></footer>
        <script type="text/javascript" th:src="@{/js/nyt.js}" defer></script>
        <script>
            AOS.init();
        </script>
    </body>
</html>