<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer Fragment</title>
</head>
<body>
    <th:block th:fragment="footer">
        <footer>
            <div class="container-fluid my-3" id="footer-container">
                <div class="container-fluid" id="page-links-container">
                    <div class="d-flex justify-content-between">
                        <div id="left-links">
                            <a th:href="@{/about-us}" class="page-link">About Us</a>
                            <a href="https://github.com/Better-Reads-Capstone/BetterReads" class="page-link">GitHub</a>
                        </div>
                        <div id="logo-link">
                            <a th:href="@{/}" class="page-link">LOGO IMAGE</a>
                        </div>
                        <div id="right-links">
                            <a th:href="@{/faq}" class="page-link">FAQ</a>
                            <a th:href="@{/meet-the-devs}" class="page-link">Meet the Devs</a>
                        </div>
                    </div>
                </div>
                <hr class="mb-5" />
                <div class="container-fluid my-3" id="media-icon-container">
                    <div class="d-flex justify-content-center">
                        <a href="https:/facebook.com" class="social-media-icon mx-2" id="fb-icon" style="font-size: 2rem;"><i class="bi bi-facebook"></i></a>
                        <a href="https:/instagram.com" class="social-media-icon mx-2" id="insta-icon" style="font-size: 2rem;"><i class="bi bi-instagram"></i></a>
                        <a href="https:/twitter.com" class="social-media-icon mx-2" id="twitter-icon" style="font-size: 2rem;"><i class="bi bi-twitter"></i></a>
                        <a href="https:/youtube.com" class="social-media-icon mx-2" id="yt-icon" style="font-size: 2rem;"><i class="bi bi-youtube"></i></a>
                    </div>
                </div>
                <div class="container-fluid my-3" id="copyright-container">
                    <p class="text-muted text-center">&copy; BetterReads 2020 We love our users!</p>
                </div>
            </div>
        </footer>
    </th:block>
</body>
</html>