<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>
<body>
<!--    <nav th:fragment="navbar">-->
<!--        <ul>-->
<!--            <li>-->
<!--                <a href="/">Better Reads</a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="/login">Login</a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="/sign-up">Register</a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <form th:action="@{/logout}" th:method="post">-->
<!--                    <button class="nav-link btn-link btn">Logout</button>-->
<!--                </form>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </nav>-->

<!--Will need to eventually add user profile link-->
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Better Reads</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="d-flex mr-auto">
            <ul sec:authorize="isAnonymous()" class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/login">Login<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sign-up">Register</a>
                </li>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="/booksearch" method="get">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        <div sec:authorize="isAuthenticated()" class="d-flex">
            <div class="d-flex">
                <div th:text="${#authentication.principal.username}"></div>
                <a class="nav-link" th:href="@{/create-club/{username} (username = ${#authentication.principal.username})}">Start a Bookclub</a>
                <a class="align-self-center" th:href="@{/profile/{username}(username=${#authentication.principal.username})}">Profile</a>
            </div>
            <form th:action="@{/logout}" th:method="post">
                <button class="nav-link btn-link btn">Logout</button>
            </form>
        </div>
    </div>
</nav>
</body>
</html>