<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>
<body>
<!--    <nav th:fragment="navbar">-->
<!--        <ul>-->
<!--            <li>-->
<!--                <a href="/">Better Reads</a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="/login">Login</a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="/sign-up">Register</a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <form th:action="@{/logout}" th:method="post">-->
<!--                    <button class="nav-link btn-link btn">Logout</button>-->
<!--                </form>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </nav>-->

<!--Will need to eventually add user profile link-->
    <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Better Reads</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/login">Login<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sign-up">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/create-bookclub">Start a Bookclub</a>
                </li>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </ul>
            <form th:action="@{/logout}" th:method="post">
                <button class="nav-link btn-link btn">Logout</button>
            </form>
        </div>
    </nav>
</body>
</html>