<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head(title = 'All Bookclubs')">
</head>
<body>
    <nav th:replace="partials/navbar :: navbar"></nav>
    <header>
        <div class="header-block-left">
            <div class="header-text">
                <p class="">Bookclubs</p>
                <p class="">Find your community</p>
            </div>
        </div>
        <div class="header-block-right">
            <img class="" th:src="@{/img/books.svg}">
        </div>
    </header>
    <main>
        <div class="site-margin">
            <div>
                <a class="" sec:authorize="isAnonymous()" th:href="@{/login}">Login to start a club</a>
                <a class="" sec:authorize="isAuthenticated()" th:href="@{/create-club/{username} (username = ${#authentication.principal.username})}">Start a Bookclub</a>
            </div>
            <div>
                <p th:if="${noQueryMsg}" th:text="${noQueryMsg}"></p>
                <form th:action="@{/bookclub/search}" method="post">
                    <label for="genreSelect">Filter By Genre:</label>
                    <select name="genreSelect" id="genreSelect" >
                        <option th:value="0" selected>Choose a genre...</option>
                        <div th:each="genre : ${filterGenreList}">
                            <option th:value="${genre.id}" th:text="${genre.name}"></option>
                        </div>
                    </select>
                    <input name="query" />
                    <button class="button" type="submit">Search</button>
                </form>
            </div>
            <ul th:each="bookclub : ${bookclubs}">
                <li>
                    <div class="d-flex">
                        <img th:src="${bookclub.headerImageUrl}" alt="bookclubImg">
                        <div>
                            <a th:href="@{/bookclub/{id}(id=${bookclub.id})}" th:text="${bookclub.name}"></a>
                            <p th:text="${bookclub.about}"></p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </main>
    <footer th:replace="partials/footer :: footer"></footer>
</body>
</html>