<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head(title = ${club.name})">
</head>
<body>
    <nav th:replace="partials/navbar :: navbar"></nav>
    <main>
        <div class="container">
            <!--Admin Control-->
            <div class="admin-controls" th:if="${member != null && member.isAdmin == true}">
                <!-- Create Blog Post Button for owner/admin -->
                <form th:action="@{/bookclub/{id}/create-post (id = ${club.id})}">
                    <input class="btn btn-primary" type="submit" value="Create Post">
                </form>
                <!-- Edit Blog Button for owner/admin -->
                <form th:action="@{/edit-bookclub/{id} (id = ${club.id})}">
                    <button class = "btn btn-primary" type="submit">
                        Edit Club
                    </button>
                </form>
            </div>
            <!--Owner Control-->
            <div class="owner-controls" th:if="${user == club.owner}">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteClubModal">
                    Delete Club
                </button>
            <!-- Delete Modal -->
                <div class="modal fade" id="deleteClubModal" tabindex="-1" aria-labelledby="#deleteClubModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteClubModalLabel">Delete Club</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete the club?</p>
                                <p><strong>You cannot undo this action.</strong></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Never mind</button>
                                <form th:action="@{/bookclub/{id}/delete (id = ${club.id})}" method="post">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Join and Leave Buttons-->
            <div class="join-leave-container" th:if="${user != club.owner}">
                <div th:if="${member == null}">
                    <form th:action="@{/bookclub/{id}/join (id = ${club.id})}" method="POST">
                        <input class="btn btn-primary" type="submit" value="Join Club">
                    </form>
                </div>
                <div th:unless="${member == null}">
                    <form th:action="@{/bookclub/{id}/leave (id = ${club.id})}" method="POST">
                        <input class="btn btn-primary" type="submit" value="Leave Club">
                    </form>
                </div>
            </div>

            <div class="club-info">
                <img th:src="${club.headerImageUrl}" alt="">
                <p>Name of club: </p><h1 th:text="${club.name}"></h1>
                <p>About: </p><h3 th:text="${club.about}"></h3>
                <p>Club genre: </p><h3 th:text="${club.genre.name}"></h3>
                <p>Club Owner: </p><h3 th:text="${club.owner.username}"></h3>
            </div>
            <br>
            <!--    Members Container        -->
            <div class="members-container">
                <h3>Members</h3>
                <div th:each="clubMember: ${members}" class="row">
                    <div class="member-card card col-3">
                        <img class="card-img-top" th:src="${clubMember.user.avatarURL}" alt="Profile Image"/>
                        <div class="card-body">
                            <h5 class="card-title">
                                <span th:text="${clubMember.user.firstName}"></span>
                                <span th:text="${clubMember.user.lastName}"></span>
                            </h5>
                            <p class="card-body" th:if="${clubMember.isAdmin == true}">Admin</p>
                            <p class="card-body" th:unless="${clubMember.isAdmin == true}">Member</p>
                        </div>
                        <div th:if="${member != null && member.isAdmin == true}" class="card-footer">
                            <div th:if="${clubMember.user != club.owner}">
                                <form th:if="${clubMember != null && clubMember.isAdmin == false}" th:action="@{/bookclub/{id}/admin/{userId} (id = ${club.id}, userId = ${clubMember.user.id})}" method="POST">
                                    <input class="btn btn-primary" type="submit" value="Make Admin">
                                </form>
                                <form th:unless="${clubMember != null && clubMember.isAdmin == false}" th:action="@{/bookclub/{id}/member/{userId} (id = ${club.id}, userId = ${clubMember.user.id})}" method="POST">
                                    <input class="btn btn-primary" type="submit" value="Delete Admin">
                                </form>
                            </div>
                            <div th:unless="${clubMember.user != club.owner}">
                                <p>Owner</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--     Posts Container       -->
            <div id="post-container" class="post-container">
                <div class="blog-title">
                    <h3><span th:text="${club.name}"></span>'s Posts</h3>
                </div>
                <!--        Displays all the posts created by the blog        -->
                <div th:each="post: ${posts}">
                    <div class="blog-card">
                        <h4><a th:text="${post.title}" th:href="@{/bookclub/{id}/{postId} (id = ${club.id}, postId = ${post.id})}"></a></h4>
                        <p th:utext="${post.body}"></p>
                        <p>Author: <span th:text="${post.user.username}"></span></p>
                    </div>
                    <hr />
                </div>
            </div>
        </div>

    </main>
    <footer th:replace="partials/footer :: footer"></footer>
</body>
</html>