<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('BookClub')">
    <meta charset="UTF-8">
    <title>Club</title>
</head>
<body>
    <nav th:replace="partials/navbar :: navbar"></nav>
    <form th:action="@{/edit-bookclub/{id} (id = ${club.id})}">
        <button class = "btn btn-primary" type="submit">
            Edit Club
        </button>
    </form>
    <!--Join and Leave Buttons-->
    <div th:if="${member.user == null}">
        <form th:action="@{/bookclub/{id}/join (id = ${club.id})}" method="post">
            <input class="btn btn-primary" type="submit" value="Join Club">
        </form>
    </div>
    <div th:unless="${member.user == user}">
        <p>LEAVE</p>
    </div>

    <main>
        <p>Name of club: </p><h1 th:text="${club.name}"></h1>
        <p>About: </p><h3 th:text="${club.about}"></h3>
        <p>Club genre: </p><h3 th:text="${club.genre.name}"></h3>
        <p>Club Owner: </p><h3 th:text="${club.owner.username}"></h3>
        <img th:src="${club.headerImageUrl}" alt="">
    </main>
    <footer th:replace="partials/footer :: footer"></footer>
</body>
</html>