<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Poll')">
</head>
<body>
    <nav th:replace="partials/navbar :: navbar"></nav>
    <main>
        <h1>Create a Poll</h1>
        <form th:action="@{/bookclub-poll/{id} (id = ${club.id})}" method="POST" th:object="${poll}">
            <div id="search-results" class="container"></div>
            <div class="form-group">
                <label for="book-one">Book One</label>
                <input id="book-one" class="form-control" th:field="*{bookOne}" placeholder="Enter a Book ISBN"/>
            </div>
            <div class="form-group">
                <label for="book-two">Book Two</label>
                <input id="book-two" class="form-control" th:field="*{bookTwo}" placeholder="Enter a Book ISBN" />
            </div>
            <button type="submit" class="btn btn-primary">Create Poll</button>
        </form>
    </main>
    <footer th:replace="partials/footer :: footer"></footer>
    <script type="text/javascript" th:src="@{/js/keys.js}"></script>
    <script type="text/javascript" th:src="@{/js/books_api.js}"></script>
</body>
</html>