<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head(title = 'Create Post')">
</head>
<body>
    <nav th:replace="partials/navbar :: navbar"></nav>
    <main>
        <div class="container">
            <div class="create-post-container">
                <form class="form-group" th:action="@{/bookclub/{id}/create-post (id = ${club.id})}" th:object="${post}" method="post">
                    <label for="blog-title">Title</label>
                    <input id="blog-title" class="form-control" type="text" th:field="*{title}"/>
                    <label for="editor1">Body</label>
                    <textarea id="editor1" class="form-control" rows="5" cols="20" th:field="*{body}"></textarea>
                    <input class="btn btn-secondary" type="submit" value="Submit" />
                </form>
            </div>
        </div>
    </main>

    <script src="https://cdn.ckeditor.com/4.15.1/standard-all/ckeditor.js"></script>
    <script>
        CKEDITOR.replace( 'editor1' );
    </script>
</body>
</html>