<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head(title = 'Create Post')">
</head>
<body class="book-club-bg">
    <nav th:replace="partials/navbar :: navbar"></nav>
    <div id="content-wrap">
        <div class="site-margin">
            <main>
                <div>
                    <div class="create-post-container club-container">
                        <div class="blog-card">
                            <form class="form-group" th:action="@{/bookclub/{id}/create-post (id = ${club.id})}" th:object="${post}" method="post">
                                <input id="blog-title" class="form-control" type="text" th:field="*{title}" placeholder="Title"/>
                                <br />
                                <textarea id="editor1" class="form-control" rows="5" cols="20" th:field="*{body}"></textarea>
                                <input class="button" type="submit" value="Submit" />
                            </form>
                        </div>
                    </div>
                </div>
            </main>

            <footer th:replace="partials/footer :: footer"></footer>
    </div>
    <script src="https://cdn.ckeditor.com/4.15.1/standard-all/ckeditor.js"></script>
    <script>
        CKEDITOR.replace( 'editor1' );
    </script>
</body>
</html>