<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <main>
        <h1>Create a Profile</h1>
        <form th:action="@{/create-profile/{username} (username = ${user.username})}" method="POST" th:object="${user}">

            <div class="form-group">
                <label for="first-name">First Name</label>
                <input id="first-name" class="form-control" th:field="*{firstName}" />
            </div>

            <div class="form-group">
                <label for="middle-name">Middle Name</label>
                <input id="middle-name" class="form-control" th:field="*{middleName}" />
            </div>

            <div class="form-group">
                <label for="last-name">Last Name</label>
                <input id="last-name" class="form-control" th:field="*{lastName}" />
            </div>

            <div class="form-group">
                <label for="website-url">Website</label>
                <input id="website-url" class="form-control" th:field="*{websiteURL}" />
            </div>

            <div class="form-group">
                <label for="about-me">About Me</label>
                <textarea class="form-control" id="about-me" rows="3" cols="50" th:field="*{aboutMe}"></textarea>
            </div>

            <div class="form-group">
                <label for="country">Country</label>
                <select name="country" class="form-control" th:field="*{country}" id="country">
                    <option th:value="'United States'">United States</option>
                    <option th:value="'United Kingdom'">United Kingdom</option>
                    <option th:value="'Canada'">Canada</option>
                </select>
            </div>

            <div class="form-group">
                <label for="pronouns">Preferred Pronouns</label>
                <select name="pronouns" class="form-control" th:field="*{pronouns}" id="pronouns">
                    <option th:value="''" selected>Prefer to Not Disclose</option>
                    <option th:value="'he'" selected>He/Him</option>
                    <option th:value="'she'" selected>She/Her</option>
                    <option th:value="'nonbinary'" selected>Non-Binary</option>
                </select>
            </div>

            <br />

            <!--filestack api-->
            <img id="avatarPreview" src="/static/img/logo.png" alt="">
            <input type="hidden" id="avatar" name="product_image_url" th:field="*{avatarURL}" />
            <button class="btn" id="addPicture">addPicture</button>

            <br />

            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </main>

    <script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/keys.js}"></script>
    <script type="text/javascript" th:src="@{/js/filestack.js}"></script>
</body>
</html>