<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head(title = 'Start a Bookclub')">
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<main>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1>Start a Bookclub</h1>
            </div>
            <form th:action="@{/create-club/{username} (username = ${user.username})}" method="POST" th:object="${club}">
                <div class="card-body">
                    <div class="form-group">
                        <label for="name">Name your bookclub</label>
                        <input id="name" class="form-control" th:field="*{name}" />
                    </div>
                    <div class="form-group">
                        <label for="about">Tell us about your book-club</label>
                        <textarea class="form-control" id="about" rows="3" cols="50" th:field="*{about}"></textarea>
                    </div>
                    <!--filestack api-->
                    <div class="filestack">
                        <img id="avatarPreview" th:src="${club.headerImageUrl}" alt="">
                        <br />
                        <input type="hidden" id="avatar" name="product_image_url" th:field="*{headerImageUrl}" />
                        <button class="btn" id="addPicture">addPicture</button>
                    </div>
                    <select th:field="*{genre}" class="form-control">
                        <option th:each="genre : ${genres}" th:value="${genre.id}"><span th:text="${genre.name}"></span></option>
                    </select>

                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</main>
<footer th:replace="partials/footer :: footer"></footer>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js" defer></script>
<script type="text/javascript" th:src="@{/js/filestack.js}" defer></script>
</body>
</html>