<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head(title = 'Forgot Your Password?')">
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<main>
    <div class="d-flex site-margin">
        <div class="form-container">
            <div class="msg-space">
                <h3 class="font-weight-bold">Forgot Your</h3>
                <h3 class="font-weight-bold">Password?</h3>
            </div>
            <div class="if-message">
                <div th:if="${error != null}">
                    <p class="text-danger">[[${error}]]</p>
                </div>
                <div th:if="${message == null}">
                    <h6>We will be sending a reset password link to your email.</h6>
                </div>
                <div th:unless="${message == null}">
                    <p class="text-warning">[[${message}]]</p>
                </div>
            </div>
            <form th:action="@{/forgot-password}" method="post">
                    <div>
                        <div class="form-group">
                        <input type="email" name="email" class="form-control input-spacing" placeholder="Enter your e-mail"
                                   required
                                   autofocus/>
                        </div>
                        <div class="submit-position">
                            <h4 class="font-weight-bold">Send</h4>
                            <button type="submit"
                                    class="form-submit"><i
                                    class="bi bi-arrow-right"></i></button>
                        </div>
                    </div>
            </form>
            <div class="forgot-pass-redirect">
                <h6 class="d-flex">Remembered Your Password?<a class="underline ml-2" th:href="@{/login}">Login</a></h6>
                <h6 class="d-flex">Not A User?<a class="underline ml-2" th:href="@{/sign-up}">Sign up</a></h6>
            </div>
        </div>
        <div class="desktop-image">
            <p>Testing size</p>
        </div>
    </div>
</main>
<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>