<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head(title = 'Login')">
</head>

<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<main>
    <div class="container">
        <div class="container p-3" id="login-container">
            <div class="container welcome-spacing">
                <h3 class="font-weight-bold">Welcome</h3>
                <h3 class="font-weight-bold">Back</h3>
            </div>
            <div class="message">
                <div class="container" th:if="${param.error}">
                    Invalid Username and/or Password.
                </div>
                <div class="container" th:if="${param.logout}">
                    You have been logged out.
                </div>
            </div>
            <form th:action="@{/login}" method="POST" class="p-3">
                <div class="p-1">
                    <input id="username" name="username" class="form-control input-spacing" type="text" placeholder="Username"/>
                </div>
                <div class="p-1">
                    <input id="password" name="password" class="form-control input-spacing" type="password" placeholder="Password"/>
                </div>
                <div class="sign-in">
                    <h3 class="font-weight-bold">Sign In</h3>
                    <button id="login-submit" type="submit"
                            class="login-submit d-flex justify-content-center align-items-center"><i
                            class="bi bi-arrow-right"></i></button>
                </div>
            </form>
            <div class="container links-container d-flex" id="reg-link-container">
                <h4><a class="underline" th:href="@{/sign-up}">Sign up</a></h4>
                <h4><a class="underline" th:href="@{/forgot-password}">Forgot Password</a></h4>
            </div>
        </div>

    </div>
</main>
<footer th:replace="partials/footer :: footer"></footer>
<script th:replace="partials/scripts :: scripts"></script>
</body>
</html>