<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head(title = 'Login')">
</head>

<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<main>
    <div class="main-container">
        <div class="form-container">
            <div class="msg-space">
                <h3 class="font-weight-bold">Welcome</h3>
                <h3 class="font-weight-bold">Back</h3>
            </div>
            <div class="if-message">
                <div class="" th:if="${param.error}">
                    Invalid Username and/or Password.
                </div>
                <div class="" th:if="${param.logout}">
                    You have been logged out.
                </div>
            </div>
            <form th:action="@{/login}" method="POST">
                <div class="form-group">
                    <input id="username" name="username" class="form-control input-spacing" type="text" placeholder="Username"/>
                </div>
                <div class="form-group">
                    <input id="password" name="password" class="form-control input-spacing" type="password" placeholder="Password"/>
                </div>
                <div class="submit-position">
                    <h4 class="font-weight-bold">Sign In</h4>
                    <button id="login-submit" type="submit"
                            class="form-submit"><i
                            class="bi bi-arrow-right"></i></button>
                </div>
            </form>
            <div class="links-container" id="reg-link-container">
                <h4><a class="underline" th:href="@{/sign-up}">Sign up</a></h4>
                <h4><a class="underline" th:href="@{/forgot-password}">Forgot Password</a></h4>
            </div>
        </div>
        <div class="desktop-image">
            <p>Testing size</p>
        </div>
    </div>
</main>
<footer th:replace="partials/footer :: footer"></footer>
<script th:replace="partials/scripts :: scripts"></script>
</body>
</html>