<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head(title = 'Start a Bookclub')">
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="container">
    <main>
        <div>
            <form th:action="@{/edit-profile/{username} (username = ${user.username})}">
                <button class="btn btn-primary" type="submit">
                    Edit Profile
                </button>
            </form>
        </div>
        <div th:name="user-info">
            <img class="avatar-responsive" style="max-height:230px;max-width:230px;" th:src="${user.avatarURL}"/>
            <h1>Hi,
                <span th:text="${user.firstName}"></span>
                <span th:text="${user.middleName}"></span>
                <span th:text="${user.lastName}"></span>!
            </h1>
            <h3 th:text="${user.email}"></h3>
            <h3 th:text="${user.websiteURL}"></h3>
            <h3 th:text="${user.pronouns}"></h3>
            <h3 th:text="${user.country}"></h3>
            <h3 th:text="${user.aboutMe}"></h3>
        </div>

        <div class="bookshelf d-flex flex-column">
            <div id="loader">Loading....</div>

            <!--   READ BOOKS     -->
            <div class="d-flex">
                <h4>Read</h4>
                <div th:each="extract : ${read}">
                    <div>
                        <button class="book readBook" th:id="${extract.book.isbn}" data-toggle="modal" data-target="#bookModal"></button>
                        <form th:action="@{/profile/{username}/delete/{id}(username=${user.username}, id=${extract.id})}" method="post">
                            <button class="btn btn-danger" type="submit">Delete</button>
                        </form>
                        <form th:action="@{/profile/{username}/{bookshelfId}(username=${user.username}, bookshelfId=${extract.id})}" method="post">
                            <select name="bookshelfStatus" onchange="this.form.submit()">
                                <option th:value="'READ'" selected disabled>READ</option>
                                <option th:value="'READING'">READING</option>
                                <option th:value="'WISHLIST'">WISHLIST</option>
                            </select>
                        </form>
                    </div>
                </div>
            </div>
            <!--   READING BOOKS     -->
            <div class="d-flex">
                <h4>Reading</h4>
                <div th:each="extract : ${reading}">
                    <div>
                        <button class="book activeBook" th:id="${extract.book.isbn}" data-toggle="modal" data-target="#bookModal"></button>
                        <form th:action="@{/profile/{username}/delete/{id}(username=${user.username}, id=${extract.id})}" method="post">
                            <button class="btn btn-danger" type="submit">Delete</button>
                        </form>
                        <form th:action="@{/profile/{username}/{bookshelfId}(username=${user.username}, bookshelfId=${extract.id})}" method="post">
                            <select name="bookshelfStatus" onchange="this.form.submit()">
                                <option th:value="'READ'">READ</option>
                                <option th:value="'READING'" selected disabled>READING</option>
                                <option th:value="'WISHLIST'">WISHLIST</option>
                            </select>
                        </form>
                    </div>
                </div>
            </div>
            <!--   WISHLIST     -->
            <div class="d-flex">
                <h4>Wishlist</h4>
                <div th:each="extract : ${wishlist}">
                    <div>
                        <button class="book wishlistBook" th:id="${extract.book.isbn}" data-toggle="modal" data-target="#bookModal"></button>
                        <form th:action="@{/profile/{username}/delete/{id}(username=${user.username}, id=${extract.id})}" method="post">
                            <button class="btn btn-danger" type="submit">Delete</button>
                        </form>
                        <form th:action="@{/profile/{username}/{bookshelfId}(username=${user.username}, bookshelfId=${extract.id})}" method="post">
                            <select name="bookshelfStatus" onchange="this.form.submit()">
                                <option th:value="'READ'">READ</option>
                                <option th:value="'READING'">READING</option>
                                <option th:value="'WISHLIST'" selected disabled>WISHLIST</option>
                            </select>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--    SHOW BOOK MODAL    -->
        <div class="modal" id="bookModal">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <section class='container-fluid section' id="result">
                    </section>
                    <div class="putModal"></div>
                </div>
                <button type="button" class="modal-ft btn btn-dark" data-dismiss="modal">Close</button>
            </div>
        </div>
    </main>
</div>

<footer th:replace="partials/footer :: footer"></footer>
<th:block th:include="partials/scripts :: scripts"></th:block>
<script type="text/javascript" src="/js/keys.js"></script>
<script type="text/javascript" src="/js/profileBooks.js"></script>
</body>
</html>