<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Register')">
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <nav th:replace="partials/navbar :: navbar"></nav>
    <main>
        <h1>Register for an Account</h1>
        <form th:action="@{/sign-up}" method="POST" th:object="${user}">
            <div class="form-group">
                <label for="username">Username</label>
                <input id="username" class="form-control" th:field="*{username}" />
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input id="email" class="form-control" th:field="*{email}" />
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>

            <div class="form-group">
                <label for="first-name">First Name</label>
                <input id="first-name" class="form-control" th:field="*{firstName}" />
            </div>

            <div class="form-group">
                <label for="last-name">Last Name</label>
                <input id="last-name" class="form-control" th:field="*{lastName}" />
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input id="password" class="form-control" type="password" th:field="*{password}" />
            </div>

            <img id="imagePreview" src="" alt="" >

            <!--    this is our hidden input field and this is what we want to actually pass our image url in. -->
            <input type="hidden" id="image" name="product_image_url">

            <!--    This is the button a user will press if they want to open the filepicker -->
            <!--    note: you might want to change the text in the button after -->
            <!--    they have uploaded a image with the filepicker to "change picture" or file. -->
            <button class="btn" id="addPicture">addPicture</button>
            <br />
            <button type="submit" class="btn btn-primary">Sign me up!</button>
        </form>
    </main>

    <footer th:replace="partials/footer :: footer"></footer>

    <script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/keys.js}"></script>
    <script type="text/javascript" th:src="@{/js/filestack.js}"></script>
</body>
</html>