<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head(title = 'Reset Password')">
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<main>
    <div class="d-flex site-margin">
        <div class="form-container">
            <div class="msg-space">
                <h3 class="font-weight-bold">Reset Your Password</h3>
            </div>
            <form th:action="@{/reset-password}" method="post">
                <input type="hidden" name="token" th:value="${token}"/>
                <div class="form-group">
                    <input type="password" name="password" id="password" class="form-control"
                           placeholder="Enter your new password" required autofocus/>
                    <div class="showPassSpacing">
                        <input id="showPassword" type="checkbox">
                        <p>Show Password</p>
                    </div>
                </div>
                <div class="form-group">
                    <input id="passwordConfirm" type="password" name="passwordConfirm" class="form-control"
                           placeholder="Confirm your new password"
                           required/>
                    <div class="showPassSpacing">
                        <input id="showConfirmPassword" type="checkbox">
                        <p>Show Password</p>
                    </div>
                </div>
                <p class="err-msg"><span id="message"></span></p>
                <div class="submit-position">
                    <h4 class="font-weight-bold">Change Password</h4>
                    <button type="submit"
                            class="form-submit"><i
                            class="bi bi-arrow-right"></i></button>
                </div>
            </form>
        </div>
        <div class="desktop-image">
            <p>Testing size</p>
        </div>
    </div>

</main>
<footer th:replace="partials/footer :: footer"></footer>
<script th:src="@{/js/editPassword.js}" defer></script>

</body>
</html>