<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head(title = 'Successful Reset')">
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<main>
    <div class="d-flex site-margin">
        <div class="form-container">
            <div class="msg-space">
                <h3 class="font-weight-bold">Reset Your Password</h3>
            </div>
            <div class="">
                <h6>You have successfully reset your password!</h6>
            </div>
            <div class="submit-position">
                <h4 class="font-weight-bold">Let's Login</h4>
                <form th:action="@{/login}" method="get">
                <button type="submit"
                        class="form-submit"><i
                        class="bi bi-arrow-right"></i></button>
                </form>
            </div>
        </div>
        <div class="desktop-image">
            <p>Testing size</p>
        </div>
    </div>
</main>
<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>