<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head(title = 'Successful Reset')">
</head>
<body class="outer-container">
<nav th:replace="partials/navbar :: navbar"></nav>
<main>
        <div class="left-container">
            <p>Testing size</p>
        </div>
        <div class="right-container">
            <div class="msg-space">
                <h2 class="font-weight-bold">You've Successfully Reset Your Password!</h2>
            </div>
            <div class="submit-position">
                <h4 class="font-weight-bold">Go Back To The Login Page</h4>
                <form th:action="@{/login}" method="get">
                <button type="submit"
                        class="form-submit"><i
                        class="bi bi-arrow-right"></i></button>
                </form>
            </div>
        </div>
</main>
<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>