<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head(title = 'Successful Reset')">
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div id="content-wrap">
<main class="content-space">
    <div class="outer-container">
        <div class="right-container">
            <h4>You've Successfully Reset Your Password!</h4>
            <div class="d-flex">
                <h6 class="font-weight-bold">Go Back To The Login Page</h6>
                <button class="button btn-login ml-2" type="submit">Login</button>
            </div>
        </div>
    </div>
</main>
<footer th:replace="partials/footer :: footer"></footer>
</div>
<script th:src="@{/js/utils/error-success.js}" defer></script>
</body>
</html>