<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head(title = 'Bookclub Search')">
</head>
<body class="book-club-bg">
<nav th:replace="partials/navbar :: navbar"></nav>
<div id="content-wrap">
<header>
    <div class="header-block-left d-flex flex-column">
        <div class="header-text">
            <p class="nyt-text">Find your community</p>
            <p class="booksearch-text">Bookclubs</p>
            <div class="start-club-placement">
                <button class="button btn-login" sec:authorize="isAnonymous()" th:href="@{/login}">Login to start a club
                </button>
                <form sec:authorize="isAuthenticated()"
                      th:action="@{/create-club/{username} (username = ${#authentication.principal.username})}"
                      method="get">
                    <button class="button">Start a Bookclub</button>
                </form>
            </div>
        </div>

    </div>
    <div class="header-block-right">
        <img class="bookclub-header-img" th:src="@{/img/books.svg}">
    </div>
</header>
<main class="site-margin">
    <div class="mobile-position">
        <section>
            <form th:action="@{/bookclub/search}" method="post">
                <div class="form-row">
                    <div class="col form-group club-search-position">
                        <select class="form-control align-self-center" name="genreSelect" id="genreSelect">
                            <option th:value="0" selected>Choose a genre...</option>
                            <div th:each="genre : ${filterGenreList}">
                                <option th:value="${genre.id}" th:text="${genre.name}"></option>
                            </div>
                        </select>
                        <div class="input-group">
                            <input class="form-control" name="query" placeholder="Search Bookclubs"/>
                            <button class="button" type="submit">Search</button>
                        </div>
                    </div>
                </div>
            </form>
        </section>
        <section class="grid-container">
            <div class="grid-item club-cover" th:each="bookclub : ${bookclubs}">
                <div class="book-card d-flex justify-content-center">
                    <img class="member-image" th:src="${bookclub.headerImageUrl}" alt="bookclubImg">
                </div>
                <div class="club-info">
                    <div class="club-card">
                        <a class="club-title" th:href="@{/bookclub/{id}(id=${bookclub.id})}"
                           th:text="${bookclub.name}"></a>
                        <p class="club-about" th:text="${bookclub.about}"></p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
<footer th:replace="partials/footer :: footer"></footer>
</div>
<script type="text/javascript" th:src="@{/js/searchBookclubs.js}" defer></script>
</body>
</html>