<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head(title = 'About Us')">
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<main>
    <div class="container">
        <div class="my-3" id="about-title-div">
            <h1>About Us</h1>
        </div>
        <div class="mb-5" id="about-content-div">
            <p>BetterReads is a capstone project from a team of CodeUp students from the Bio cohort.  Our goal with the site was to build a place where book enthusiasts could connect to other users via book reviews, book clubs, and building their user profile bookshelves.</p>
        </div>
    </div>
</main>
<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>
