<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head(title = 'About Us')">
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
    <header>

    </header>
    <main>
        <div class="site-margin">
            <section>
                <div class="dev-profile-container">
                    <div class="dev-profile" id="dev-ally">
                        <div class="dev-card">
                            <img th:src="@{/img/dev-ally.jpeg}" alt="" class="dev-img">
                            <a href="https://github.com/alexandrahamner" class="social-media-icon" id="gh-icon-ally"><i class="bi bi-github"></i></a>
                            <a href="https://www.linkedin.com/in/alexandrahamner/" class="social-media-icon" id="li-icon-ally"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="dev-profile" id="dev-caleb">
                        <div class="dev-card">
                            <img th:src="@{/img/dev-caleb.jpeg}" alt="" class="dev-img">
                            <a href="https://github.com/CalebEWheeler" class="social-media-icon" id="gh-icon-caleb"><i class="bi bi-github"></i></a>
                            <a href="https://www.linkedin.com/in/cew32/" class="social-media-icon" id="li-icon-caleb"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="dev-profile" id="dev-levi">
                        <div class="dev-card">
                            <img th:src="@{/img/dev-levi.jpeg}" alt="" class="dev-img">
                            <a href="https://github.com/lbtrejo" class="social-media-icon" id="gh-icon-levi"><i class="bi bi-github"></i></a>
                            <a href="https://www.linkedin.com/in/levi-trejo-858a5a28/" class="social-media-icon" id="li-icon-levi"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <footer th:replace="partials/footer :: footer"></footer>
</body>
</html>
