<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head(title = 'About Us')">
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<main>
    <div class="container">
        <div class="my-3" id="about-title-div">
            <h1>About Us</h1>
        </div>
        <div class="mb-5" id="about-content-div">
            <p>BetterReads is a capstone project from a team of CodeUp students from the Bio cohort.  Our goal with the site was to build a place where book enthusiasts could connect to other users via book reviews, book clubs, and building their user profile bookshelves.</p>
        </div>
    </div>
    <div class="container">
        <div class="my-3" id="devs-title-div">
            <h1>Meet Our Developers</h1>
        </div>
        <div class="mb-5" id="devs-content-div">
            <div class="dev-card" id="ally-card">
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img th:src="@{/img/logo.png}" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Developer: Alexandra</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vulputate odio ut enim blandit volutpat maecenas volutpat blandit. Ut tellus elementum sagittis vitae et. In metus vulputate eu scelerisque felis imperdiet. Magna fermentum iaculis eu non diam phasellus vestibulum lorem. Dictum non consectetur a erat nam at lectus urna. Ullamcorper malesuada proin libero nunc consequat interdum. Quis lectus nulla at volutpat. Nunc faucibus a pellentesque sit amet porttitor. Nunc eget lorem dolor sed. Morbi tristique senectus et netus. Sociis natoque penatibus et magnis dis parturient. Quis vel eros donec ac odio tempor orci. Nunc pulvinar sapien et ligula ullamcorper malesuada proin. In nulla posuere sollicitudin aliquam ultrices sagittis. Viverra suspendisse potenti nullam ac tortor vitae purus. Nec feugiat nisl pretium fusce.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dev-card" id="caleb-card">
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img th:src="@{/img/logo.png}" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Developer: Caleb</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Feugiat nisl pretium fusce id velit ut tortor. Quis viverra nibh cras pulvinar. Tincidunt ornare massa eget egestas. Suspendisse potenti nullam ac tortor vitae purus faucibus ornare suspendisse. Interdum consectetur libero id faucibus nisl tincidunt eget nullam. Curabitur gravida arcu ac tortor. Sit amet est placerat in egestas erat. Suscipit tellus mauris a diam maecenas sed enim. Feugiat pretium nibh ipsum consequat nisl vel pretium lectus. Nunc consequat interdum varius sit amet mattis vulputate. Neque aliquam vestibulum morbi blandit cursus risus at. Cras pulvinar mattis nunc sed blandit libero volutpat. Ornare massa eget egestas purus. Eget duis at tellus at. Ac turpis egestas integer eget aliquet nibh. Id eu nisl nunc mi ipsum faucibus vitae aliquet nec. Eu turpis egestas pretium aenean.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dev-card" id="levi-card">
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img th:src="@{/img/logo.png}" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Developer: Levi</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ultricies integer quis auctor elit sed vulputate mi sit amet. Vestibulum lorem sed risus ultricies tristique nulla aliquet enim tortor. Est lorem ipsum dolor sit amet consectetur adipiscing. Faucibus ornare suspendisse sed nisi lacus. Pretium nibh ipsum consequat nisl. Porta nibh venenatis cras sed felis eget velit. Non pulvinar neque laoreet suspendisse interdum consectetur libero id. Enim tortor at auctor urna nunc. Vitae elementum curabitur vitae nunc sed. Aliquet risus feugiat in ante metus dictum. Diam vulputate ut pharetra sit. Turpis in eu mi bibendum neque. Non curabitur gravida arcu ac. Nam at lectus urna duis convallis convallis tellus id interdum.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dev-card" id="michael-card">
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img th:src="@{/img/logo.png}" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Developer: Michael</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Habitant morbi tristique senectus et netus et malesuada fames. Urna nunc id cursus metus aliquam eleifend mi. Nunc pulvinar sapien et ligula ullamcorper malesuada. Tellus mauris a diam maecenas sed enim ut sem. Risus commodo viverra maecenas accumsan lacus vel. Tempor orci dapibus ultrices in iaculis nunc sed. Ut pharetra sit amet aliquam id diam maecenas. Imperdiet sed euismod nisi porta. Nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum. Amet purus gravida quis blandit turpis. Ullamcorper sit amet risus nullam eget felis. Facilisis volutpat est velit egestas. Ac auctor augue mauris augue. Porttitor massa id neque aliquam vestibulum.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>
