<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('We\'re Sorry')">
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<br><br><br>
<div style="text-align: center;">
        <th:block>
        <h1>Hmm... it looks like something went wrong.</h1>
        <h4>Try going back to our <a href="/">homepage,</a></h4>

        <br><br><br>

        <h4>Or, use this <button type="button" onclick="javascript:history.back()">Back</button> button to go back one page.
        </h4>
</th:block>
</div>
<br><br><br>
<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>