.header-text {
    position: absolute;
    top: 21%;
    left: 10%;
    z-index: 1;
}

.booksearch-text {
    font-size: 3em;
    font-family: var(--montserrat);
    font-weight: 600;
    text-transform: uppercase;
    color: var(--off-white);
    text-shadow: 3px 3px 2px rgb(150, 150, 150);
}

.heading-background-one, .heading-background-two {
    position: absolute;
    z-index: -1;
    top: -153px;
    overflow: hidden;
}

.heading-background-one {
    left: -61px;
}

.heading-background-two {
    right: -61px;
}

.booksearch-header-img {
    display: none;
}

.bookclub-header-img {
    display: none;
}

.book-search-img {
    width: 12rem;
    height: 14rem;
    margin: 16px;
    border: 4px solid var(--off-white);
    border-radius: var(--border-radius);
}

.book-search-info {
    display: flex;
    flex-direction: column;
    /*justify-content: space-evenly;*/
    width: 200px;
    overflow-wrap: break-word;
    color: #000;
    margin-left: 10px;
    margin-bottom: 35px;
}

.book-grid {
    display: flex;
    overflow: auto;
    margin: 50px 0;
}

.btn-search {
    color: var(--off-white);
    font-family: var(--raleway);
    background-color: var(--forest-green);
    border-radius: var(--border-radius);
}

@media (min-width: 768px) {
    .booksearch-header-img {
        display: block;
        float: right;
        width: 300px;
        height: 300px;
        position: absolute;
        right: 10px;
        top: 117px;
    }

    .bookclub-header-img {
        display: block;
        float: right;
        width: 300px;
        height: 300px;
        position: absolute;
        right: 0;
        bottom: 60px;
    }

    .booksearch-text {
        font-size: 5em;
    }

    .book-grid {
        margin: 50px 0;
    }
}

@media (min-width: 992px) {
    .booksearch-header-img {
        display: block;
        float: right;
        width: 500px;
        height: 500px;
        position: absolute;
        right: 30px;
        top: 5px;
    }

    .bookclub-header-img {
        width: 375px;
        height: 375px;
        right: 5px;
        bottom: 60px;
    }

    @media (min-width: 1024px) {
        .bookclub-header-img {
            right: 30px;
            bottom: 60px;
        }
    }

    @media (min-width: 1166px) {
        .bookclub-header-img {
            right: 80px;
        }
    }
}