.club-container {
    color: var(--dark-brown)
}

.club-intro-section, .club-blog, .club-members-about-club {
    background-color: var(--blush);
    border: 2px solid var(--makeup-tan);
}

.club-avatar {
    height: 200px;
    width: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-right: 0;
}

.club-img {
    margin-top: 20px;
    width: 150px;
    height: 150px;
    border: 4px solid var(--dark-grey);
}

.club-name-container, .genre-container {
    text-align: center;
}

.club-name-container {
    padding: 10px 20px 20px 20px;
}

.club-name {
    font-family: var(--alegreya);
    font-size: 2em;
    color: var(--forest-green);
}

.genre-container {
    padding: 0 20px 20px 20px;
}

.genre {
    font-family: var(--raleway);
}

.club-buttons, .admin-controls {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.club-members-about-club {
    width: 100%;
}

.members-container {
    margin: 10px 20px;
}

.members {
    margin: 20px 0 10px 0;
    text-align: center;
    font-family: var(--alegreya);
    font-size: 2rem;
    color: var(--dark-grey);
}

.member-card {
    margin: 10px;
    flex: 1;
    background-color: var(--green);
    border: 2px solid var(--off-white);
    border-radius: var(--border-radius);
}

.member-image {
    width: 10em;
    border-radius: var(--img-border-radius);
    border: 4px solid var(--dark-grey);
}

.member-status, .member-name {
    color: var(--off-white);
    text-align: center;
    margin-left: 0;
}

.owner {
    text-align: center;
    color: var(--off-white);
}

.admin-status-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
/*.club-blog {*/
/*    margin-left: 40px;*/
/*    border-radius: var(--border-radius);*/
/*}*/

@media (min-width: 425px) {

    .club-avatar {
        height: 300px;
        width: 300px;
    }

    .club-img {
        width: 250px;
        height: 250px;
    }
}

@media (min-width: 768px) {

    .club-avatar {
        height: 400px;
        width: 400px;
    }

    .club-img {
        width: 350px;
        height: 350px;
        border-radius: 200px;
    }
}


@media (min-width: 992px) {

    .intro-members-sections {
        display: flex;
    }

    .club-intro-section {
        border-top-left-radius: var(--border-radius);
        border-bottom-left-radius: var(--border-radius);
    }

    .club-avatar {
        height: 300px;
        width: 300px;
    }

    .club-img {
        width: 250px;
        height: 250px;
    }

    .members {
        text-align: left;
        margin-left: 20px;
    }
}

@media (min-width: 1310px) {

    .club-container {
        display: flex;
        justify-content: space-evenly;
    }

    .intro-members-sections {
        width: 60%;
    }

    .club-blog {
        margin-left: 40px;
        border-radius: var(--border-radius);
        width: 30%;
    }
}
