
.create-edit-forms-bg {
    background-image: url("../img/organic-bg-1.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.flex-form {
    display: flex;
    flex-direction: column;
}

.left-section {
    background-color: var(--blush);
    border: 2px solid var(--makeup-tan);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.right-section {
    background-color: var(--blush);
    border: 2px solid var(--makeup-tan);
}

.other-info-container {
    margin: 10px 20px;
    display: flex;
    justify-content: center;
    overflow: auto;
}

.other-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-btn-space {
    margin: 16px auto 0 auto;
    width: 150px;
}

.add-margin {
    margin-top: 30px;
}

.user-names-block {
    border-top: 4px solid var(--makeup-tan);
    padding: 15px 20px 0 20px;
}

.name-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.bookclub-name-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.name-input label, .bookclub-name-input label{
    align-self: center;
    font-size: 1.5rem;
    margin-bottom: 0;
    font-family: var(--alegreya);
    color: var(--forest-green);
}

.name-input input {
    width: 150px;
}

.bookclub-name-input input {
    width: 200px;
}

.other-info-group label {
    font-family: var(--alegreya);
    margin-bottom: 0;
}

.other-info-group input, .other-info-group select, .genre-space select {
    width: 250px;
}

.genre-lbl {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--dark-grey);
    font-family: var(--alegreya);
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}

.about-msg {
    display: flex;
    justify-content: center;
}

.text-box-space {
    width: 200px;
    margin: 0 auto;
}

.save-container {
    display: flex;
    justify-content: center;
    padding: .75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
}

.save-container button {
    width: 150px;
}

@media (min-width: 768px) {

    .bookclub-name-input {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    .name-input {
        margin-bottom: 30px;
    }

    .other-info-container {
        margin: 15px 20px 10px 20px;
    }

    .other-info {
        width: 100%;
        justify-content: space-between;
    }

    .other-info-group, .genre-space {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        width: 100%;
    }

    .other-info-group label, .genre-space label {
        align-self: center;
        font-size: 1.5rem;
    }

    .other-info-group input,
    .other-info select,
    .name-input input,
    .bookclub-name-input input,
    .genre-space select {
        width: 20rem;
    }

    .genre-space {
        margin-top: 20px;
    }

    .about-head-space {
        margin: 0 20px;
        display: flex;
        justify-content: flex-start;
    }

    .about-msg {
        justify-content: flex-start;
    }
    .text-box-space {
        margin: 0;
        width: 100%;
    }

}

@media (min-width: 992px) {

    .flex-form {
        flex-direction: row;
        justify-content: center;
    }

    .left-section {
        border-radius: 10px 0 0 10px;
    }

    .right-section {
        border-radius: 0 10px 10px 0;
    }

    .user-names-block {
        padding: 0 20px 0 20px;
    }

    .other-info-container {
        justify-content: flex-start;
        margin: 40px 20px 20px 20px;
    }

    .other-info-group {
        margin-bottom: 40px;
    }

    .apply-flex {
        display: flex;
    }

    .name-input {
        margin-bottom: 15px;
    }

    .name-input input {
        width: 150px;
        margin: 20px 0;
    }

    .bookclub-name-input {
        flex-direction: column;
        margin-top: 25px;
    }

    .bookclub-name-input input {
        width: 200px;
        margin: 20px 0;
    }

    .genre-space {
        margin-top: 20px;
    }

    .genre-lbl {
        font-size: 2rem;
    }

    .genre-lbl-space {
        margin-left: 20px;
    }

    .about-head-space {
        margin: 0;
        align-items: center;
    }

    .about-spacing {
        margin: 25px 0;
    }

    .text-box-space {
        height: 150px;
    }

    .save-container button {
        margin: 2px 0;
    }

}