
.underline {
    display: flex;
    text-decoration: underline;
    transition: transform .2s;
}

.underline:hover {
    text-decoration: none;
    transform: scale(1.05);

}

.login-container {
    display: flex;
}

    /**/
    #form-container {
        border: solid black 1px;
        width: 30rem;
        height: 50rem;
        border-radius: 10px;
        margin: auto;
        padding: 0 30px;
    }

    .welcome-spacing {
         margin-top: 125px;
         margin-bottom: 200px;
     }

    .message {
        height: 24px;
        margin: 20px 0;
    }

    .input-spacing {
        height: 30px;
        margin-bottom: 40px;
    }

    .sign-in {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .login-submit {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 75px;
        height: 75px;
        background-color: darkgreen;
        transition: transform .2s;
    }

    .login-submit:hover {
        transform: scale(1.05);
    }

    .bi-arrow-right {
        font-size: 35px;
        color: white;
    }

    .links-container {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
    }

    .desktop-image {
        display: none;
    }


@media (min-width: 992px) {
    #form-container {
        width: 40rem;
        height: 40rem;
        border-top: solid black 1px;
        border-bottom: solid black 1px;
        border-left: solid black 1px;
        border-right: none;
        border-radius: 10px 0 0 10px;
        margin: auto 0 auto auto;
        padding: 0 40px;
    }

    .welcome-spacing {
        margin-top: 60px;
        margin-bottom: 120px;
    }

    .desktop-image {
        display: flex;
        background-color: darkgreen;
        width: 30rem;
        height: 40rem;
        border-radius: 0 10px 10px 0;
        margin-right: auto;
    }
}