.user-info {
    border-top: 4px solid var(--makeup-tan);
    padding: 20px;
}

.user-info-flex {
    display: flex;
}

.user-info-title {
    font-family: var(--montserrat);
    color: var(--forest-green);
    text-decoration: underline;
    margin-right: 10px;
}

.user-detail, .member-info {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.profile-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.owner-card {
    position: relative;
}

.owner-icon {
    position: absolute;
    top: 2px;
    right: 18px;
}

.profile-club-info {
    text-align: center;
    margin-bottom: 20px;
}

.bookshelf-title {
    text-align: center;
    margin-bottom: 0;
}

.book-shelf {
    margin: 0;
    white-space: nowrap;
}

.bookshelf-cover {
    margin: 16px;
    background-color: var(--green);
    border-radius: var(--border-radius);
    border: 2px solid var(--off-white);
    position: relative;
}

.bookshelf-delete {
    position: absolute;
    top: -16px;
    right: -16px;
}

.bookshelf-delete-button {
    height: 50px;
    width: 50px;
    background-color: var(--danger);
    border: none;
    outline:none;
    border-radius: 200px;
    padding: 5px 10px;
    color: var(--off-white);
    font-size: 1.2em;
}

.bookshelf-delete-button:hover {
    cursor: pointer;
    transform: translateY(-2px);
}

.select-container {
    display: flex;
    margin: 10px 0 20px 0;
}
.bookshelf-select-container {
    justify-content: center;
}

.review-select-container {
    justify-content: flex-end;
}


.bookshelf-select {
    padding: 5px 10px;
    border: none;
    font-family: var(--raleway);
    background-color: var(--off-white);
    color: var(--forest-green);
    outline: none;
}

#read, #reading, #wishlist {
    display: none;
    border-bottom: 4px solid var(--makeup-tan);
}

.collapse-button-wishlist {
    position: relative;
    z-index: 5;
}

.collapse-button-read:hover, .collapse-button-reading:hover, .collapse-button-wishlist:hover {
    cursor: pointer;
    color: var(--forest-green);
}

.profile-page-shapes {
    margin-top: 40px;
    width: 100%;
}