:root {
    /*  Colors  */
    --makeup-tan: #DDAF94;
    --blush: #E8CEBF;
    --forest-green: #266150;
    --dark-grey: #4F4846;
    --dark-brown: #2A1510;
    --off-white:  #FDF8F5;

    /*  Fonts  */
    --raleway: 'Raleway', sans-serif;
    --montserrat: 'Montserrat', sans-serif;

    /*  Border Radius  */
    --border-radius: 32px;
}

.loading-icon{
    width: 80px;
    height: 80px;

    border: 2px solid #f3f3f3;
    border-top:3px solid #54dec3;
    border-radius: 100%;

    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
          transform: rotate(360deg);
      }
}

.loading-icon.show {
    display: block;
}