<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head(title = 'Home Page')">
</head>
<body>
    <nav th:replace="partials/navbar :: navbar"></nav>
    <header>
<!--            HEADER SECTION HERE -->
    </header>
    <main>
        <div class="site-margin">
            <section id="home-title-section">
                <div class="home-title-section-container">
                    <div class="home-title-img">
                        <img src="" alt="">  <!-- LARGE IMAGE HERE-->
                    </div>
                    <div class="home-title-text-container">
                        <p>Book Lovers Unite</p>
                        <p>A community for those who read</p>
                        <button class="button">Join Today</button>
                    </div>
                </div>
            </section>
            <section id="home-bookshelf-section">
                <div class="home-bookshelf-container">
                    <p class="home-bookshelf-title-text">Add books to  your Bookshelves</p>
                </div>
                <div class="home-bookshelf-card-container">
                    <div class="home-bookshelf-card">
                        <p class="home-bookshelf-card-title">Currently Reading</p>
                        <p class="home-bookshelf-card-text">Whether it's your favorite romance novel or a history book for a class assignment, keep track of the books you are currently reading in your "Reading" shelf.</p>
                        <button class="button">Learn more</button>
                    </div>
                    <div class="home-bookshelf-card">
                        <div class="home-bookshelf-card">
                            <p class="home-bookshelf-card-title">Books You've Read</p>
                            <p class="home-bookshelf-card-text">Show off how many books you have read by adding them to you "Read" bookshelf.</p>
                            <button class="button">Learn more</button>
                        </div>
                    </div>
                    <div class="home-bookshelf-card">
                        <div class="home-bookshelf-card">
                            <p class="home-bookshelf-card-title">Want To Read</p>
                            <p class="home-bookshelf-card-text">Challenging yourself to read more books this year?  Maybe you've been eyeing a new book on the New York Times Bestsellers List?  No matter the reasons, add these titles to your "Wishlist" bookshelf and ensure you're never out of new stories or ideas to absorb.</p>
                            <button class="button">Learn more</button>
                        </div>
                    </div>
                    <div class="home-bookshelf-card">
                        <div class="home-bookshelf-card">
                            <p class="home-bookshelf-card-title">Leave Book Reviews</p>
                            <p class="home-bookshelf-card-text">Just finished a book and itching to share you thoughts on it?  Leave us a book review on the title and get those thoughts out to the world.  Other readers will greatly appreciate your feedback</p>
                            <button class="button">Learn more</button>
                        </div>
                    </div>
                </div>
            </section>
            <section id="home-bookclub-section">
                <div class="home-bookclub-container">
                    <div class="home-bookclub-search-container">
                        <div class="home-bookclub-img-container">
                            <img src="" alt="">  <!-- LARGE IMAGE HERE-->
                        </div>
                        <div class="home-bookclub-card-container">
                            <div class="home-bookshelf-card">
                                <p class="home-bookshelf-card-title">Join Book Clubs</p>
                                <p class="home-bookshelf-card-text">Have a passion for romance titles?  Are you bolstering your knowledge of the French revolution?  Fancy yourself an expert on Middle Earth?  Search our listing of book clubs and find your community today.</p>
                                <button class="button">Learn more</button>
                            </div>
                        </div>
                    </div>
                    <div class="home-bookclub-newclub-container">
                        <div class="home-bookclub-card-container">
                            <div class="home-bookshelf-card">
                                <p class="home-bookshelf-card-title">Create a Book Club</p>
                                <p class="home-bookshelf-card-text">Scoured or book club list, but didn't quite find the right fit?  Fret not and create the perfect club for your interests to start building your community with us.</p>
                                <button class="button">Learn more</button>
                            </div>
                        </div>
                        <div class="home-bookclub-img-container">
                            <img src="" alt="">  <!-- LARGE IMAGE HERE-->
                        </div>
                    </div>
                </div>
            </section>
            <section id="home-bestsellers-section">
                <div class="home-bestsellers-container">
                    <div class="home-bestsellers-text-container">
                        <p>New York Times Bestsellers</p>
                        <p>Unsure of what your next reading adventure should be?  Peruse the New York Times Bestsellers list for a little inspiration on where to take your next journey.</p>
                    </div>
                    <div class="home-bestsellers-img-container"></div>
                </div>
            </section>
            <section id="home-banner-section">
                <!-- SECTION FOR FINAL BANNER ABOVE FOOTER-->
            </section>
        </div>
    </main>
    <footer th:replace="partials/footer :: footer"></footer>
</body>
</html>
