<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head(title = 'Home Page')">
</head>
<body>
    <nav th:replace="partials/navbar :: navbar"></nav>
    <main>
        <div class="container">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Welcome to BetterReads</h1>
                    <p class="lead">A place for book enthusiasts to connect.</p>
                </div>
            </div>
<!--            <div class="container" id="search-container">-->
<!--                <div class="card">-->
<!--                    <div class="card-header">-->
<!--                        <h5 class="card-title">Book Search</h5>-->
<!--                    </div>-->
<!--                    <img th:src="@{/img/logo.png}" class="card-img w-25" alt="...">-->
<!--                    <div class="card-body">-->
<!--                        <p class="card-text">Read a good book lately?  Awesome, use our book search functionality to find the book on our site and leave a review with your thoughts!</p>-->
<!--&lt;!&ndash;                        <a th:href="@{/booksearch}">Book Search</a>&ndash;&gt;-->
<!--                        <a href="#">Book Search</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
            <hr class="my-4">
            <div class="container" id="club-container">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Book Clubs</h5>
                    </div>
                    <img th:src="@{/img/logo.png}" class="card-img w-25" alt="...">
                    <div class="card-body">
                        <p class="card-text">Connect with other users via our Bookclubs!  Search for a club to suit your interests or start a new club to connect with readers sharing your interests.</p>
<!--                        TODO update href with link-->
                        <a th:href="@{/bookclubs}">Book Clubs</a>
                    </div>
                </div>
            </div>
            <hr class="my-4">
            <div class="container" id="nyt-container">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">New York Times Best Sellers</h5>
                    </div>
                    <img th:src="@{/img/logo.png}" class="card-img w-25" alt="...">
                    <div class="card-body">
                        <p class="card-text">View the latest New York Times best sellers list and check out our user reviews available!</p>
                        <a th:href="@{/best-sellers}">New York Times Best Sellers</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="partials/footer :: footer"></footer>
</body>
</html>
